{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesadd %}
    <style>
        html,
        body {
            height: 100%;
        }

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="form-signin m-auto">
        <h1 class="text-center">Registration</h1>
        <br>
        <div class="container">
            {{ form_start(registrationForm) }}
                <div class="form-floating mb-3 px-4">
                    {{ form_widget(registrationForm.email) }}
                    <label>Email</label>
                    {{ form_errors(registrationForm.email) }}
                </div>
                <div class="form-floating mb-3 px-4">
                    {{ form_widget(registrationForm.plainPassword) }}
                    <label>Password</label>
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>
                <div class="form-floating mb-3 px-4">
                    {{ form_widget(registrationForm.name) }}
                    <label>Name</label>
                    {{ form_errors(registrationForm.name) }}
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            {{ form_end(registrationForm) }}
        </div>

    </main>

{% endblock %}
